.home {
    background-color: #fdffde;
    /* background-color: white; */
    margin-top: -5%;
    /* background-color: red; */
    width: 100%;
    /* height: 50%; */
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-page {
    /* background-color: red; */
    width: 100%;
    height: 650px;
    /* height: 30%; */
    border: 1px white;
    text-align: center;
    /* margin-top: 50px; */
}

.trusted-banner {
    margin-top: 5%;
    margin-left: 40%;
    text-align: center;
    width: 18%;
    font-weight: 600;
    justify-content: space-evenly;
    /* color: rgb(50, 50, 50); */
    color: #fdffde;
    background-color: #1f2937;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.home-page h1 {
    font-size: 3.6rem;
    font-weight: 600;
    color: black;
    margin-top: 3.6%;
    letter-spacing: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-page h1:hover {
    color: #3457d5;
}

.keyShares {
    font-size: 3.6rem;
    color: #FB9EC6;
    transform: scale(1);
}

.keyShares:hover {
    color: #ff70ae;
    /* text-decoration: underline; */
    transform: scale(2.5);
}

.home-page p {
    font-size: 16px;
    font-weight: 100;
    margin-top: -1%;
    margin-bottom: 2.5%;
    color: rgb(90, 90, 90);
}

.home-page p:hover {
    color: #3457d5;
}


.search-form input {
    width: 22%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #1f2937;
    text-align: center;
    font-size: 16px;
}

.search-form button {
    font-size: 17px;
    padding: 13px 24px;
    background-color: #1f2937;
    color: #fdffde;
    border: none;
    border-radius: 22px;
    margin-left: 10px;
}

/* .search-form button:hover {
    background-color: #fdffde;
    border: 1px solid #1f2937;
    color: #1f2937;
    transform: scale(1.01);
} */

.search-form button:hover {
    background: #1f2930;
    transform: scale(1.01);
}

.topCities p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(90, 90, 90);
    margin-top: 1%;
}

.topCities a {
    color: rgb(90, 90, 90);
    text-decoration: underline;
    font-weight: 100;
}

.topCities a:hover {
    color: rgb(73, 170, 255);
    text-decoration: underline;
    font-weight: 100;
}

.topCities span {
    font-weight: 100;
}

.bgImgDiv {
    width: 100%;
    height: 400px;
    /* background-color: red; */
    /* margin-left: 31%; */
    margin: auto;
    margin-top: -0.4%;
}

.imgDiv {
    width: 45%;
    height: 100%;
    /* background-color: green; */
    margin: auto;
    /* border: 2px solid black; */
}

.imgDiv img {
    border-radius: 20px;
}

.imgDiv img:hover {
    transform: scale(1.01);
}

.easilyRental {
    width: 100%;
    height: 400px;
    display: flex;
    background: transparent;
    margin-top: 7%;
}

.rentalText {
    width: 57%;
    height: 100%;
}

.rentalText h1 {
    font-size: 2.4rem;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
    line-height: 1.5;
    letter-spacing: 1px;
}

.rentalText p {
    font-size: 1.15rem;
    margin-left: 10%;
    font-weight: 100;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
    line-height: 2;
    letter-spacing: 1.2px;
    margin-top: 1.5%;
    /* margin-bottom: 1.5%; */
}

.searchRentalText button {
    font-size: 15px;
    padding: 12px 20px;
    background-color: #1f2937;
    color: #fdffde;
    border: none;
    border-radius: 24px;
    margin-left: 10%;
    margin-top: 1.5%;
    font-weight: 100;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
}

.searchRentalText button:hover {
    /* color: #fdffde; */
    background: #1f2930;
    transform: scale(1.03);
}

.keySharesPartners {
    color: #FB9EC6;
}

.keySharesPartners:hover {
    color: #ff70ae;
}

.rentalImage {
    width: 43%;
    height: 100%;
    margin-right: 2%;
}

.rentalImage img {
    border-radius: 20px;
}


.popular-cities {
    padding: 20px;
    text-align: center;
}

.popular-cities h2 {
    margin-top: 5%;
    font-size: 2.6rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
    line-height: 2;
    letter-spacing: 1.2px;
}

.popular-cities h2:hover {
    color: #3457d5;
}

.cities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    gap: 5px;
    padding: 0 20px;
    justify-items: center;
    margin-left: 6%;
    margin-right: 6%;
}

.city-card {
    position: relative;
    width: 160px;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 12%;
}

.city-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.city-card:hover img {
    transform: scale(1.1);
}

.city-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    /* background: rgba(0, 0, 0, 0.6); */
    /* color: #fff; */
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 5px 10px;
    /* border-radius: 5px; */
    transition: opacity 0.3s;
}

.city-card:hover .city-name {
    opacity: 1;
}

button.view-all {
    margin-top: 4.2%;
    color: #fdffde;
    border: none;
    border-radius: 24px;
    font-weight: 100;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
    font-size: 14px;
    padding: 12px 26px;
    background-color: #1f2937;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button.view-all:hover {
    /* color: #fdffde; */
    background: #1f2930;
    transform: scale(1.05);
}



.bodyDivTestimonial {
    background: transparent;
    text-align: center;
}

.testimonials-section {
    padding: 50px 20px;
    /* background: linear-gradient(135deg, #e8f5e9, #ffffff); */
    background: transparent;
    margin: 20px auto;
    max-width: 90%;
    /* border-radius: 12px; */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.testimonials-section h2 {
    font-size: 2.6rem;
    /* color: #2e7d32; */
    color: #333;
    margin-bottom: 4%;
    margin-top: -7px;
    letter-spacing: 1.4px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.testimonials-section h2:hover {
    color: #3457d5;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 3%;
    justify-items: center;
    margin-left: 6%;
    margin-right: 6%;
}

.testimonial-card {
    /* background: #ffffff; */
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* width: 75%; */
}

.testimonial-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.testimonial-content p {
    font-size: 1rem;
    font-style: italic;
    color: #555;
    line-height: 1.6;
    margin: 0 0 10px;
}

.testimonial-content p:hover {
    color: #3457d5;
}

.testimonial-content span {
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: right;
}



.aboutUs {
    width: 100%;
    height: 425px;
    /* background: transparent; */
    margin-top: 4%;
    background-color: 4px solid red;

}

.aboutUs h2 {
    margin-top: -4%;
    font-size: 2.6rem;
    color: #333;
    text-align: center;
    /* margin-bottom: 20px; */
    font-weight: 600;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
    line-height: 2;
    letter-spacing: 1.2px;
}

.aboutUs h2:hover {
    color: #3457d5;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 7%;
    flex-wrap: wrap;
    width: 85%;
    height: 100%;
    margin-right: 6%;
    /* border: 4px solid red; */
    margin-left: 7%;
    margin-top: 1%;
    background-color: transparent;
}

.card {
    /* background: white; */
    background: transparent;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 25%;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) rotate(-2deg);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .card-image {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.3rem;
    color: #004d40;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.7;
    margin: 0;
}

.card p:hover {
    color: #3457d5;
}

@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}


.contactUs {
    width: 100%;
    height: 550px;
    background: transparent;
    margin-top: 3%;
}

.contact {
    height: 73%;
    /* margin-top: -1%; */
    display: flex;
    background-color: transparent;
    gap: 1%;
}

.contactUs h2 {
    margin-top: 11%;
    font-size: 2.6rem;
    color: #333;
    text-align: center;
    /* margin-bottom: 20px; */
    font-weight: 600;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif medium;
    line-height: 2;
    letter-spacing: 1.2px;
}

.contactUs h2:hover {
    color: #3457d5;
}

.contactImg {
    width: 55%;
    height: 100%;
    margin-left: 6%;

    padding: 30px;
    /* background: linear-gradient(135deg, #e3f2fd, #ffffff); */
    border-radius: 12px;
    background: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.contactImg:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.contact-section {
    width: 35%;
    height: 100%;
    /* margin: 50px auto; */
    padding: 30px;
    /* background: linear-gradient(135deg, #e3f2fd, #ffffff); */
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin-right: 6%;
}

.contact-section:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
    margin-bottom: 5px;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}



.form-group input,
textarea {
    width: 96%;
    padding: 8px;
    font-size: 0.9rem;
    border: 2px solid #b3e5fc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #1e88e5;
}

.radio-group {
    display: flex;
    gap: 1px;
    margin-top: 3%;
    justify-content: space-around;
    margin-left: -8%;
}

.radio-group label {
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group input {
    accent-color: #1e88e5;
    transform: scale(1.2);
}

textarea {
    resize: none;
}

.submit-btn {
    background-color: #1f2937;
    color: #fdffde;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: -10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
    background: #fdffde;
    color: #1f2937;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.submit-btn:active {
    transform: translateY(1px);
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    transition: color 0.3s ease;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
span {
    color: #3457d5;
}